[submodule "hugo/themes/hugo-refresh"]
	path = hugo/themes/hugo-refresh
	url = https://github.com/PippoRJ/hugo-refresh.git
[submodule "hugo/themes/terminal"]
	path = hugo/themes/terminal
	url = https://github.com/panr/hugo-theme-terminal.git
